body, html, #accident_cities {
    font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
    text-align: center;
}

#city_accident_chart {
  align-items: center;
  justify-content: center;
}

#title_accident_cities {
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
}

#accident_cities {
  height: 400px;
}

#accident_legend {
  padding-bottom: 10px;
}

#city-size-toggle {
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  pointer-events: none;
}

.checkbox-label {
  margin-right: 10px;
}
