body {
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#accident_cities {
    height: 500px;
    width: 100%;
}

#city-size-toggle {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#city-size-toggle label {
    display: block;
    margin-bottom: 5px;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 1.4;
}

.tooltip h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.tooltip p {
    margin: 5px 0 0;
    font-size: 12px;
}