body {
  color: #696464;
  background-color: #FEFAF6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

a {
    color: #6e5950;
    text-decoration: underline;
}
