#title {
  margin: auto;
}

#map {
  height: 500px;
  position: relative;
}

#time-slider {
  position: relative;
  margin: auto;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.5); /* Gray background with 50% opacity */
  color: white;
  font-family: Verdana, sans-serif;
  z-index: 1000;
}

.noUi-horizontal .noUi-connect {
  background-color: orange; /* Change the slider bar color to orange */
}

.legend {
  position: relative;
  right: 30px;
  background-color: white;
  padding: 10px;
  font-family: Verdana, sans-serif;
  z-index: 1000;
}

.legend-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}