body {
  color: #6e5950;
  background-color: #FEFAF6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
	text-align: center;
}

a {
    color: #6e5950;
    text-decoration: underline;
}

#SP_world_map {
	margin-top: -30px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Center the container horizontally */
    height: auto; /* Adjust height automatically */
    aspect-ratio: 16 / 9;
}

svg {
    width: 100%; /* Make SVG fill the container width */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
}

.country {
            fill: #f2ebe4;
        }

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none; /* Let mouse events pass through */
    style="position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid #ccc;
    pointer-events: none;"
}
