body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
background-image: url("https://raw.githubusercontent.com/evanapplegate/evanapplegate.github.io/main/SP_rating/noise8.png");
background-color: #FEFAF6;
font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
background-size: 50%; 
    }

h1 {
	text-align: center;
    color: #6e5950;
}

p {
    text-align: center;
}

a {
    color: #6e5950;
    text-decoration: underline;
}

#SP_world_map {
	margin-top: -30px;
}

#map-tooltip {
    padding: 6px;
    color: #6e5950;
    position: absolute;
    background-color: #FEFAF6; 
    border: none; 
    border-radius: 5px; 
    pointer-events: none;
    display: none;
}

#map-header {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#charts-header {
    margin-top: -20px;
    margin-bottom: -40px;
    text-align: center;
    color: #FEFAF6;
    background-color: #433079;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#charts-container {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #433079;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.chart-title {
    text-anchor: middle;
    font-size: 10px;
}

.chart {
   /* margin: 5px; */
    margin-top: 20px;
    width: calc(20% - 10px);
}

/* on mobile, display: */
@media (max-width: 768px) {
    .chart {
        width: 100%; /* Full width */
        margin: 0 auto; /* Center the chart if needed */
    }
    .chart svg {
        height: 150px; /* Adjust the height as needed for mobile devices */
    }
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    height: auto; 
    aspect-ratio: 16 / 9;
}

svg {
    width: 100%;
    height: auto; 
}

.country {
        fill: #f2ebe4;
    }