<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Request Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Map Request</h1>
<p>What sort of map are you after?</p>
    <div id="mapChoices">
        <img src="{{ url_for('static', filename='images/world.png') }}" alt="World Map" class="map-choice" data-map-type="world">
        <img src="{{ url_for('static', filename='images/us.png') }}" alt="U.S. Map" class="map-choice" data-map-type="us">
        <img src="{{ url_for('static', filename='images/other_map.png') }}" alt="Other Country" class="map-choice" data-map-type="other">
    </div>
    
<div id="colorSelection" style="display: none;">
    <p>What color scheme?</p>
    <button class="color-button" data-color="#FFFAF6" style="background-color: #FFFAF6;"></button>
    <button class="color-button" data-color="#CCC5BE" style="background-color: #CCC5BE;"></button>
    <button class="color-button" data-color="#C74D58" style="background-color: #C74D58;"></button>
    <button class="color-button" data-color="#B9563B" style="background-color: #B9563B;"></button>
    <button class="color-button" data-color="#DFBB66" style="background-color: #DFBB66;"></button>
    <button class="color-button" data-color="#8CC16D" style="background-color: #8CC16D;"></button>
    <button class="color-button" data-color="#5991C7" style="background-color: #5991C7;"></button>
    <button class="color-button" data-color="#6E5399" style="background-color: #6E5399;"></button>
</div>
<br />
    <form id="mapForm" method="post" enctype="multipart/form-data" style="display: none;">
        <input type="hidden" id="mapType" name="map_type">
        <input type="hidden" id="selectedColor" name="selected_color">
        <label for="map_request">Enter your map request:</label><br>
        <textarea id="map_request" name="map_request" rows="4" cols="80"></textarea><br>
        <label for="file">Upload a file (CSV, XLS, XLSX):</label><br>
        <input type="file" id="file" name="file"><br>
        <input type="submit" value="Generate Map">
    </form>

    <div id="loadingMessage" style="display:none;">Generating maps...</div>

 <!--    {% if error_messages %}
        {% for error_message in error_messages %}
            <div>{{ error_message }}</div>
        {% endfor %}
    {% endif %}
 -->
{% if image_files %}
    <h2>Any of these work?</h2>
    {% for image_file in image_files %}
        <img src="{{ url_for('static', filename=image_file) }}" alt="Generated Map" width="60%">
        <!-- Download link for vector map -->
        <a href="{{ url_for('static', filename=image_file[:-4] + '.pdf') }}" target="_blank">Download vector map</a>
    {% endfor %}
{% endif %}

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
