body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/evanapplegate/evanapplegate.github.io/main/SP_rating/noise9.png");
  background-color: #FEFAF6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  background-size: 50%; 
}

#map-header h1, #map-header p {
  text-align: center;
  color: #6e5950;
}

#buttons-container {
  text-align: center;
  margin-bottom: 20px;
}

.filter-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  color: white;
  padding: 5px 10px;
  margin: 1px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
  border-radius: 5px;
}

.filter-btn:hover {
  opacity: 0.7;
}

.map_container {
  position: relative;
  width: 100%;
  max-width: 99%;
  margin: 0 auto;
  overflow: hidden;
}

.map_container::before {
  content: '';
  display: block;
  padding-top: (600 / 960 * 100)%; /* Height / Width * 100% */
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

.tooltip {
  padding: 6px;
  color: #6e5950;
  position: absolute;
  background-color: #FEFAF6;
/*  border: 2px solid #F2EBE4;*/
  border-radius: 5px;
  pointer-events: none;
  display: none;
  text-align: left;
}


.click-tooltip {
  max-width: 200px;
  padding: 6px;
  color: #6e5950;
  position: absolute;
  background-color: #FEFAF6;
  border: 1px solid #F2EBE4;
  border-radius: 5px;
  pointer-events: none;
  display: none;
  text-align: left;
}

.click-tooltip img {
  max-width: 200px; /* Adjust based on your preference */
/*  margin-top: 5px;*/
}

.click-tooltip p {
  margin: 5px 0 0 0;
}
