body {
  color: #696464;
  background-color: #FEFAF6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

a {
    color: #6e5950;
    text-decoration: underline;
}

#title_FL_nursing_homes {
  font-family:  -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
}

#title_bar_chart {
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
}

#title_FL_assisted_living {
  font-family:  -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
}

#checkboxes1 {
  text-align: left;
  left: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#checkboxes2 {
  text-align: left;
  left: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#map_nursing_homes {
  height: 500px;
}

#map_assisted_living {
  height: 500px;
}
#nursing_home_notes {
  text-align: left;
  padding: 15px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#assisted_living_note {
  text-align: left;
  padding: 15px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#bar_chart {
  margin:auto;
  text-align: center;
  height: 400px;
}

#bar_chart_text {
  text-align: left;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#bar_chart_notes {
  padding-top: 20px;
  text-align: left;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}
