body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#title_FL_nursing_homes {
  text-align: center;
  font-family:  -apple-system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#checkboxes {
  text-align: center;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}

#map {
  height: 500px;
}

#footer {
  text-align: left;
  padding: 15px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', sans-serif;
}